.btn {
  display: inline-block;
  padding: 30px 36px 31px 48px;
  font-family: $font-open;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  background-color: $color-accent;
  border-radius: 6px;
}
