.btn {
  display: inline-block;
  min-width: 250px;
  padding: 30px 36px 31px 48px;
  font-family: $font-open;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  background-color: $color-accent;
  color: $color-light;
  border-radius: 6px;
  border: none;

  @media (max-width: $df-mobile) {
    padding: 20px 14px;
    font-size: 24px;
    line-height: 33px;
  }
}

.btn-form {
  margin-top: 34px;
  padding: 35px 30px;
  width: 100%;
  font-size: 28px;
  line-height: 34px;

  @media (max-width: $df-tablet) {
    display: block;
    width: 100%;
  }

}
