.carousel {
  position: relative;
  padding-left: 65px;
  padding-right: 65px;
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  font-size: 0;
  background-image: url(../img/btn-reviews.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
  transform: rotate(180deg);
}

.slick-slider {
  display: flex;
  justify-content: center;
}

