.carousel {
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}


.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  font-size: 0;
  background-image: url(../img/btn-reviews.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;


  @media (max-width: $df-tablet) {
    width: 44px;
    height: 44px;
  }

  @media (max-width: $df-mobile) {
    width: 44px;
    height: 44px;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
  transform: rotate(180deg);
}




