.footer {
  padding: 31px 0;
  background-color: $color-dark;
}

.footer-inner {
  @include container;
}

.footer-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  @media (max-width: $df-tablet) {

  }

  @media (max-width: $df-mobile) {
    display: block;
    text-align: center;
  }
}

.phone {
  padding: 0;
  margin-left: 703px;
  margin-right: 60px;
  font-family: $font-open;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;

  @media (max-width: $df-tablet) {
    margin: 0 50px 0 190px;
  }

  @media (max-width: $df-mobile) {
   margin: 0 auto;
   margin-top: 30px;
  }

}

.social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  & li:first-child {
    margin-left: 0;
  }

  @media (max-width: $df-mobile) {
    justify-content: center;
    margin-top: 15px;
  }
}

.social-item {
  padding: 0;
  margin-left: 15px;
}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
