.form {
  display: flex;
  flex-wrap: wrap;
  padding: 0 -$indent-half-gap;

  @media (max-width: $df-mobile) {
    display: block;
  }
}

.form-field {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-basis: 33.33%;
  padding: 0 $indent-gap;

  @media (max-width: $df-tablet) {
    flex-basis: 50%;
  }

  @media (max-width: $df-mobile) {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}

.form-field-half {
  @media (max-width: $df-tablet) {
    flex-basis: 100%;
  }
}

.form-label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 27px;
}

.form-input {
  padding: 35px 30px;
  width: 100%;
  font-size: 28px;
  line-height: 34px;
  border-radius: 6px;
  border: none;

  @media (max-width: $df-tablet) {
    width: 100%;
  }

  @media (max-width: $df-mobile) {
    width: 100%;
  }
}
