.form {
  display: flex;
}

.form-field {
  flex-basis: 33.33%;
}

.form-label {
  display: inline-block;
  font-size: 20px;
  line-height: 27px;
}

.form-input {
  padding: 35px 30px;
  font-size: 28px;
  line-height: 34px;
  border-radius: 6px;
  border: none;
}
