.header {
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: $color-dark;
}

.header-inner {
  @include container;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  padding: 0;
  margin-right: auto;
  font-family: $font-open;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $color-light;
  text-decoration: none;
}

.burger {
  display: none;

  @media (max-width: $df-mobile) {
    position: relative;
    display: block;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    border: none;
    border-top: 2px solid $color-light;
    border-bottom: 2px solid $color-light;
    background-color: rgba(0, 0, 0, 0);

    &:before,
    &:after {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: $color-light;
    }
  }
}

