.header {
  padding: 5px 0;
  background-color: $color-dark;
}

.header-inner {
  @include container;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  font-family: $font-open;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $color-light;
  text-decoration: none;
}
