.info {
  margin-top: 89px;
  padding: 200px 0 130px 0;
  width: 100%;
  background-image: url(..//img/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: rgba($color-dark, .4);
}

.info-inner {
  @include container;
}

.info-content {
  text-align: center;
}

.info-title {
  margin-bottom: 100px;
  font-family: $font-open;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  color: $color-light;

  @media (max-width: $df-tablet) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $df-mobile) {
    display: none;
  }
}
