.main-nav {
  margin-left: auto;

  @media (max-width: $df-mobile) {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $color-dark;
  }
}

.main-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $df-mobile) {
    display: block;
    text-align: center;
  }

& a {
  padding: 33px 25px;

  @media (max-width: $df-mobile) {
    padding: 8px 25px;
  }

}

& a:hover {
    background-color: $color-accent;
  }
}

a {
  display: block;
  padding: 5px 0;
  font-family: $font-open;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $color-light;
  text-decoration: none;
}

.current {
  background-color: $color-accent;
}


