.portfolio {
  padding: 220px 0;
}

.portfolio-inner {
  @include container;
}

.portfolio-title {
  @include title-h2;
  margin-bottom: 100px;
}

.portfolio-wrap {
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  list-style: none;
}

.portfolio-item  {
  flex-basis: 25%;
  padding: $indent-half-gap;

  @media (max-width: $df-tablet) {
    flex-basis: 50%;
  }

  @media (max-width: $df-mobile) {
    flex-basis: 100%;
  }
}

.portfolio-item a {
  position: relative;
}

.portfolio img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.portfolio-list span {
  position: absolute;
  right: 0;
  bottom: 5px;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-family: $font-open;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  background: rgba(0, 0, 0, 0.4);
  color: $color-light;
 }


