.reviews {
  padding: 230px 0 130px 0;

}

.reviews-inner {
  @include container;
}

.reviews-title {
  @include title-h2;
  margin-bottom: 80px;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-ava {
  max-width: 304px;
  max-height: 304px;
}

.review-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-content {
  width: 35.5%;
  margin-left: 24px;
}

.review-name {
  font-size: 48px;
  line-height: 65px;
}

.review-quote {
  margin: 40px 0 0 0;
  font-family: $font-open;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: $color-dark;
}


