@mixin container($width: 1276px) {
  max-width: $width + $indent-gap;
  margin: 0 auto;
  // border: 1px solid #000;
}

@mixin title-h2 {
  margin: 0;
  font-family: $font-open;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: $color-dark;

  @media (max-width: $df-tablet) {
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $df-mobile) {
    font-size: 36px;
    line-height: 49px;
  }
}
