$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;


// Colors
$color-dark: #333;
$color-accent: #ff2d2d;
$color-light: #fff;


// Font family
$font-open: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;

// indents
$indent-gap: 30px;
$indent-half-gap: $indent-gap / 2;

//breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$df-tablet: $desktop - 1;
$df-mobile: $tablet - 1;
